In [28]:
# Import the random module.
import random 
# Import the NumPy module.
import numpy as np
# Import timeit.
import timeit

In [29]:
%timeit np.random.uniform(-90.000, 90.000, size=1500)

20.8 µs ± 835 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [30]:
def latitudes(x):
    latitudes = []
    while x < 1501:
        random_lat = random.randint(-90, 90) + random.random()
        latitudes.append(random_lat)
        x += 1
    return latitudes
# Call the function with x = 1.
%timeit latitudes(1)

2.87 ms ± 63.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [31]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [32]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [33]:
# Create a practice set of random latitude and longitude combinations.
x = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
y = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
coordinates = zip(x, y)

In [34]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(coordinate[0], coordinate[1])

25.12903645 -67.59741259
25.92017388 11.09532135
26.62509167 74.84233102
-59.98969384 -76.89176677
37.30571269 -61.13376282

In [35]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [36]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

In [37]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

622

In [38]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [39]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=2542cf2578abf24fac37456405279597

In [40]:

# Create an endpoint URL for a city.
city_url = url + "&q=" + "Lompoc"
city_weather = requests.get(city_url)
if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [41]:
print (city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=2542cf2578abf24fac37456405279597&q=Lompoc

In [42]:
# Make a 'Get' request for the city weather.
city_weather = requests.get(city_url)
city_weather

In [43]:
# Create an endpoint URL for a city.
#city_url = url + "&q=" + "Chicago"
#city_weather = requests.get(city_url)
#city_weather

In [44]:
# Get the text of the 'Get' request.
city_weather.text

'{"coord":{"lon":-120.46,"lat":34.64},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"base":"stations","main":{"temp":43.07,"pressure":1017,"humidity":87,"temp_min":39,"temp_max":46.4},"visibility":16093,"wind":{"speed":5.82,"deg":80},"clouds":{"all":75},"dt":1575089123,"sys":{"type":1,"id":4747,"country":"US","sunrise":1575038937,"sunset":1575075103},"timezone":-28800,"id":5367788,"name":"Lompoc","cod":200}'

In [45]:
# Get the JSON text of the 'Get' request.
city_weather.json()

{'coord': {'lon': -120.46, 'lat': 34.64},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 43.07,
  'pressure': 1017,
  'humidity': 87,
  'temp_min': 39,
  'temp_max': 46.4},
 'visibility': 16093,
 'wind': {'speed': 5.82, 'deg': 80},
 'clouds': {'all': 75},
 'dt': 1575089123,
 'sys': {'type': 1,
  'id': 4747,
  'country': 'US',
  'sunrise': 1575038937,
  'sunset': 1575075103},
 'timezone': -28800,
 'id': 5367788,
 'name': 'Lompoc',
 'cod': 200}

In [46]:
# Create an endpoint URL for a city.
#city_url = url + "&q=" + "Chicago"
#city_weather = requests.get(city_url)
#if city_weather.status_code == 200:
   # print(f"City Weather found.")
#else:
  #  print(f"City weather not found.")

In [47]:
# Get the JSON data.
chi_data = city_weather.json()

In [48]:
lat = chi_data["coord"]["lat"]
lng = chi_data["coord"]["lon"]
max_temp = chi_data["main"]["temp_max"]
humidity = chi_data["main"]["humidity"]
clouds = chi_data["clouds"]["all"]
wind = chi_data["wind"]["speed"]
#rain=chi_data["main"]["rain"]
#rain= chi_data["rain"]["1h"]
#snow=chi_data["main"]["snow"]


print(lat, lng, max_temp, humidity, clouds, wind)

34.64 -120.46 46.4 87 75 5.82

In [49]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = chi_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date).strftime('%Y-%m-%d %H:%M:%S')

'2019-11-30 04:45:23'

In [50]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [51]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [102]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city
    if i>100:
        break

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1     
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        Current_Description = city_weather ["main"] ["description"]
        #city_rain = city_weather["rain"]["3h"]
        #city_snow =city_weather["snow"]["1h"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        try:
            city_rain = city_weather["rain"]["3h"]
        except:
            city_rain = 0
        try:
            city_snow = city_weather["snow"]["3h"]
        except:
            city_snow = 0
        
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                         "Rain":city_rain,
                          "Snow":city_snow,
                          "Country": city_country,
                          "Date": city_date,
                         "Current Description":Current_Description})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 2 of Set 9 | mataura
City not found. Skipping...
Processing Record 3 of Set 9 | kaitangata
City not found. Skipping...
Processing Record 4 of Set 9 | jamestown
City not found. Skipping...
Processing Record 5 of Set 9 | mar del plata
City not found. Skipping...
Processing Record 6 of Set 9 | bluff
City not found. Skipping...
Processing Record 7 of Set 9 | kathu
City not found. Skipping...
Processing Record 8 of Set 9 | ixtapa
City not found. Skipping...
Processing Record 9 of Set 9 | ushuaia
City not found. Skipping...
Processing Record 10 of Set 9 | vaini
City not found. Skipping...
Processing Record 11 of Set 9 | ostrovnoy
City not found. Skipping...
Processing Record 12 of Set 9 | dauriya
City not found. Skipping...
Processing Record 13 of Set 9 | tasiilaq
City not found. Skipping...
Processing Record 14 of Set 9 | albany
City not found. Skipping...
Processing Record 15 of Set 9 | bredasdorp
City not found. Skipping...
Processing Record 16 of Set 9 | busselton
City not found. Skipping...
Processing Record 17 of Set 9 | taolanaro
City not found. Skipping...
Processing Record 18 of Set 9 | mecca
City not found. Skipping...
Processing Record 19 of Set 9 | buchanan
City not found. Skipping...
Processing Record 20 of Set 9 | taltal
City not found. Skipping...
Processing Record 21 of Set 9 | labuhan
City not found. Skipping...
Processing Record 22 of Set 9 | faya
City not found. Skipping...
Processing Record 23 of Set 9 | rikitea
City not found. Skipping...
Processing Record 24 of Set 9 | yirol
City not found. Skipping...
Processing Record 25 of Set 9 | butaritari
City not found. Skipping...
Processing Record 26 of Set 9 | quang ngai
City not found. Skipping...
Processing Record 27 of Set 9 | kavieng
City not found. Skipping...
Processing Record 28 of Set 9 | qaanaaq
City not found. Skipping...
Processing Record 29 of Set 9 | okha
City not found. Skipping...
Processing Record 30 of Set 9 | saleaula
City not found. Skipping...
Processing Record 31 of Set 9 | san cristobal
City not found. Skipping...
Processing Record 32 of Set 9 | yellowknife
City not found. Skipping...
Processing Record 33 of Set 9 | puerto ayora
City not found. Skipping...
Processing Record 34 of Set 9 | lakes entrance
City not found. Skipping...
Processing Record 35 of Set 9 | russell
City not found. Skipping...
Processing Record 36 of Set 9 | gbadolite
City not found. Skipping...
Processing Record 37 of Set 9 | clyde river
City not found. Skipping...
Processing Record 38 of Set 9 | ilulissat
City not found. Skipping...
Processing Record 39 of Set 9 | beloha
City not found. Skipping...
Processing Record 40 of Set 9 | gornopravdinsk
City not found. Skipping...
Processing Record 41 of Set 9 | hambantota
City not found. Skipping...
Processing Record 42 of Set 9 | iqaluit
City not found. Skipping...
Processing Record 43 of Set 9 | mirnyy
City not found. Skipping...
Processing Record 44 of Set 9 | dingle
City not found. Skipping...
Processing Record 45 of Set 9 | camacha
City not found. Skipping...
Processing Record 46 of Set 9 | viligili
City not found. Skipping...
Processing Record 47 of Set 9 | tuktoyaktuk
City not found. Skipping...
Processing Record 48 of Set 9 | nabire
City not found. Skipping...
Processing Record 49 of Set 9 | mahebourg
City not found. Skipping...
Processing Record 50 of Set 9 | nemuro
City not found. Skipping...
Processing Record 51 of Set 9 | hobart
City not found. Skipping...
Processing Record 1 of Set 10 | chuy
City not found. Skipping...
Processing Record 2 of Set 10 | sumenep
City not found. Skipping...
Processing Record 3 of Set 10 | codrington
City not found. Skipping...
Processing Record 4 of Set 10 | novyy urengoy
City not found. Skipping...
Processing Record 5 of Set 10 | dikson
City not found. Skipping...
Processing Record 6 of Set 10 | ketchikan
City not found. Skipping...
Processing Record 7 of Set 10 | airai
City not found. Skipping...
Processing Record 8 of Set 10 | gobabis
City not found. Skipping...
Processing Record 9 of Set 10 | alta floresta
City not found. Skipping...
Processing Record 10 of Set 10 | hermanus
City not found. Skipping...
Processing Record 11 of Set 10 | atuona
City not found. Skipping...
Processing Record 12 of Set 10 | la rioja
City not found. Skipping...
Processing Record 13 of Set 10 | edd
City not found. Skipping...
Processing Record 14 of Set 10 | bougouni
City not found. Skipping...
Processing Record 15 of Set 10 | disna
City not found. Skipping...
Processing Record 16 of Set 10 | ulladulla
City not found. Skipping...
Processing Record 17 of Set 10 | beringovskiy
City not found. Skipping...
Processing Record 18 of Set 10 | hithadhoo
City not found. Skipping...
Processing Record 19 of Set 10 | chokurdakh
City not found. Skipping...
Processing Record 20 of Set 10 | barentsburg
City not found. Skipping...
Processing Record 21 of Set 10 | bulungu
City not found. Skipping...
Processing Record 22 of Set 10 | grand river south east
City not found. Skipping...
Processing Record 23 of Set 10 | takoradi
City not found. Skipping...
Processing Record 24 of Set 10 | kachikau
City not found. Skipping...
Processing Record 25 of Set 10 | santiago del estero
City not found. Skipping...
Processing Record 26 of Set 10 | gizo
City not found. Skipping...
Processing Record 27 of Set 10 | georgetown
City not found. Skipping...
Processing Record 28 of Set 10 | rio muerto
City not found. Skipping...
Processing Record 29 of Set 10 | kostino
City not found. Skipping...
Processing Record 30 of Set 10 | shediac
City not found. Skipping...
Processing Record 31 of Set 10 | illoqqortoormiut
City not found. Skipping...
Processing Record 32 of Set 10 | nanortalik
City not found. Skipping...
Processing Record 33 of Set 10 | tucuman
City not found. Skipping...
Processing Record 34 of Set 10 | goure
City not found. Skipping...
Processing Record 35 of Set 10 | sentyabrskiy
City not found. Skipping...
Processing Record 36 of Set 10 | ponta do sol
City not found. Skipping...
Processing Record 37 of Set 10 | bambous virieux
City not found. Skipping...
Processing Record 38 of Set 10 | cape town
City not found. Skipping...
Processing Record 39 of Set 10 | upernavik
City not found. Skipping...
Processing Record 40 of Set 10 | xai-xai
City not found. Skipping...
Processing Record 41 of Set 10 | urengoy
City not found. Skipping...
Processing Record 42 of Set 10 | karaul
City not found. Skipping...
Processing Record 43 of Set 10 | kendari
City not found. Skipping...
Processing Record 44 of Set 10 | torbay
City not found. Skipping...
Processing Record 45 of Set 10 | mayo
City not found. Skipping...
Processing Record 46 of Set 10 | provideniya
City not found. Skipping...
Processing Record 47 of Set 10 | sitka
City not found. Skipping...
Processing Record 48 of Set 10 | attawapiskat
City not found. Skipping...
Processing Record 49 of Set 10 | grindavik
City not found. Skipping...
Processing Record 50 of Set 10 | iranshahr
City not found. Skipping...
Processing Record 1 of Set 11 | luwuk
City not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [100]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(50)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow,Country,Date
0,Mataura,-46.19,168.86,66.69,63,91,4.03,0.00,0.00,NZ,2019-11-30 04:37:57
1,Kaitangata,-46.28,169.85,62.01,76,100,8.99,0.00,0.00,NZ,2019-11-30 04:42:06
2,Jamestown,-33.21,138.60,64.54,29,1,16.75,0.00,0.00,AU,2019-11-30 04:37:59
3,Mar Del Plata,-46.43,-67.52,48.67,64,73,20.71,0.00,0.00,AR,2019-11-30 04:42:01
4,Bluff,-23.58,149.07,95.81,18,76,8.01,0.00,0.00,AU,2019-11-30 04:38:01
5,Kathu,-27.70,23.05,86.23,15,0,23.82,0.00,0.00,ZA,2019-11-30 04:45:44
6,Ixtapa,20.71,-105.21,77.00,88,5,3.89,0.00,0.00,MX,2019-11-30 04:37:55
7,Ushuaia,-54.81,-68.31,42.80,70,75,23.04,0.00,0.00,AR,2019-11-30 04:37:56
8,Vaini,15.34,74.49,73.40,78,20,9.17,0.00,0.00,IN,2019-11-30 04:37:54
9,Ostrovnoy,68.05,39.51,34.00,96,100,16.31,0.00,0.25,RU,2019-11-30 04:45:45
10,Dauriya,49.93,116.85,5.90,80,93,14.94,0.00,0.00,RU,2019-11-30 04:45:45
11,Tasiilaq,65.61,-37.64,21.20,62,94,3.36,0.00,0.00,GL,2019-11-30 04:38:04
12,Albany,42.65,-73.75,30.00,68,75,6.93,0.00,0.00,US,2019-11-30 04:36:02
13,Bredasdorp,-34.53,20.04,64.40,63,100,6.93,0.00,0.00,ZA,2019-11-30 04:38:11
14,Busselton,-33.64,115.35,79.00,18,0,3.24,0.00,0.00,AU,2019-11-30 04:38:08
15,Mecca,21.43,39.83,77.99,57,22,0.49,0.00,0.00,SA,2019-11-30 04:45:19
16,Buchanan,5.88,-10.05,74.43,95,2,2.53,0.00,0.00,LR,2019-11-30 04:45:47
17,Taltal,-25.41,-70.49,54.36,91,6,2.13,0.00,0.00,CL,2019-11-30 04:42:03
18,Labuhan,-2.54,115.51,87.82,70,100,3.78,2.12,0.00,ID,2019-11-30 04:45:47
19,Faya,18.39,42.45,53.60,34,21,8.01,0.00,0.00,SA,2019-11-30 04:45:47
20,Rikitea,-23.12,-134.97,78.22,79,91,6.67,0.00,0.00,PF,2019-11-30 04:38:00
21,Butaritari,3.07,172.79,84.20,69,0,6.85,0.00,0.00,KI,2019-11-30 04:38:10
22,Quang Ngai,15.12,108.80,78.21,78,68,13.82,0.94,0.00,VN,2019-11-30 04:45:48
23,Kavieng,-2.57,150.80,84.02,70,38,3.06,0.19,0.00,PG,2019-11-30 04:45:48
24,Qaanaaq,77.48,-69.36,-1.52,89,100,5.12,0.00,0.00,GL,2019-11-30 04:38:06
25,Okha,53.59,142.95,20.68,92,97,22.39,0.00,1.00,RU,2019-11-30 04:45:49
26,San Cristobal,14.68,-86.92,63.00,98,66,2.26,0.00,0.00,HN,2019-11-30 04:45:49
27,Yellowknife,62.45,-114.38,16.00,78,75,5.30,0.00,0.00,CA,2019-11-30 04:43:25
28,Puerto Ayora,-0.74,-90.35,71.01,88,62,7.92,0.00,0.00,EC,2019-11-30 04:38:09
29,Lakes Entrance,-37.88,147.99,61.00,68,34,5.99,0.00,0.00,AU,2019-11-30 04:45:50
30,Russell,38.90,-98.86,42.80,93,90,14.99,0.00,0.00,US,2019-11-30 04:41:40
31,Gbadolite,4.28,21.00,73.98,86,83,2.59,0.00,0.00,CD,2019-11-30 04:45:50
32,Clyde River,70.47,-68.59,17.60,85,90,9.17,0.00,0.00,CA,2019-11-30 04:38:03
33,Ilulissat,69.22,-51.10,26.60,63,63,14.99,0.00,0.00,GL,2019-11-30 04:42:14
34,Beloha,-25.17,45.06,83.71,44,0,11.86,0.00,0.00,MG,2019-11-30 04:45:51
35,Gornopravdinsk,60.06,69.92,16.05,91,90,9.35,0.00,0.00,RU,2019-11-30 04:45:51
36,Hambantota,6.12,81.12,80.60,100,40,6.93,0.00,0.00,LK,2019-11-30 04:45:51
37,Iqaluit,63.75,-68.52,24.80,68,90,8.05,0.00,0.00,CA,2019-11-30 04:45:51
38,Mirnyy,56.57,36.46,36.23,96,100,6.38,0.00,0.00,RU,2019-11-30 04:45:51
39,Dingle,11.00,122.67,80.58,73,96,16.08,0.12,0.00,PH,2019-11-30 04:45:52
40,Camacha,33.08,-16.33,64.40,82,20,4.70,0.00,0.00,PT,2019-11-30 04:45:52
41,Tuktoyaktuk,69.44,-133.03,14.00,85,75,6.93,0.00,0.00,CA,2019-11-30 04:38:14
42,Nabire,-3.36,135.50,85.08,73,100,2.06,3.00,0.00,ID,2019-11-30 04:45:52
43,Mahebourg,-20.41,57.70,79.00,83,75,11.41,0.00,0.00,MU,2019-11-30 04:38:01
44,Nemuro,43.32,145.57,33.80,43,40,8.05,0.00,0.00,JP,2019-11-30 04:45:53
45,Hobart,-42.88,147.33,64.00,51,75,18.34,0.00,0.00,AU,2019-11-30 04:42:07
46,Chuy,-33.69,-53.46,68.41,82,46,11.14,0.19,0.00,UY,2019-11-30 04:45:53
47,Sumenep,-7.02,113.87,88.25,60,0,10.74,0.00,0.00,ID,2019-11-30 04:45:53
48,Codrington,-28.95,153.24,93.20,58,75,5.82,0.00,0.00,AU,2019-11-30 04:45:54
49,Novyy Urengoy,66.08,76.63,2.57,95,100,15.52,0.00,1.25,RU,2019-11-30 04:45:54

In [54]:
New_Column_Order=["City","Country","Date","Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed", "Rain","Snow"]
city_data_df=city_data_df[New_Column_Order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,Mataura,NZ,2019-11-30 04:37:57,-46.19,168.86,66.69,63,91,4.03,0.0,0.00
1,Kaitangata,NZ,2019-11-30 04:42:06,-46.28,169.85,62.01,76,100,8.99,0.0,0.00
2,Jamestown,AU,2019-11-30 04:37:59,-33.21,138.60,64.54,29,1,16.75,0.0,0.00
3,Mar Del Plata,AR,2019-11-30 04:42:01,-46.43,-67.52,48.67,64,73,20.71,0.0,0.00
4,Bluff,AU,2019-11-30 04:38:01,-23.58,149.07,95.81,18,76,8.01,0.0,0.00
5,Kathu,ZA,2019-11-30 04:45:44,-27.70,23.05,86.23,15,0,23.82,0.0,0.00
6,Ixtapa,MX,2019-11-30 04:37:55,20.71,-105.21,77.00,88,5,3.89,0.0,0.00
7,Ushuaia,AR,2019-11-30 04:37:56,-54.81,-68.31,42.80,70,75,23.04,0.0,0.00
8,Vaini,IN,2019-11-30 04:37:54,15.34,74.49,73.40,78,20,9.17,0.0,0.00
9,Ostrovnoy,RU,2019-11-30 04:45:45,68.05,39.51,34.00,96,100,16.31,0.0,0.25

In [55]:
# Create the output file (CSV).
output_data_file = "weather_data/vacation_Challenge2.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")

In [56]:
# Extract relevant fields from the DataFrame for plotting.
lats = city_data_df["Lat"]
max_temps = city_data_df["Max Temp"]
humidity = city_data_df["Humidity"]
cloudiness = city_data_df["Cloudiness"]
wind_speed = city_data_df["Wind Speed"]

In [57]:
# Import the time module.
import time
# Get today's date in seconds.
today = time.time()
today

1575089164.9103389

In [58]:
city_data_df.loc[(city_data_df["Lat"] >= 0)]
city_data_df.head(5)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,Mataura,NZ,2019-11-30 04:37:57,-46.19,168.86,66.69,63,91,4.03,0.0,0.0
1,Kaitangata,NZ,2019-11-30 04:42:06,-46.28,169.85,62.01,76,100,8.99,0.0,0.0
2,Jamestown,AU,2019-11-30 04:37:59,-33.21,138.60,64.54,29,1,16.75,0.0,0.0
3,Mar Del Plata,AR,2019-11-30 04:42:01,-46.43,-67.52,48.67,64,73,20.71,0.0,0.0
4,Bluff,AU,2019-11-30 04:38:01,-23.58,149.07,95.81,18,76,8.01,0.0,0.0

In [59]:
index13 =city_data_df.loc[13]
index13

City                   Bredasdorp
Country                        ZA
Date          2019-11-30 04:38:11
Lat                        -34.53
Lng                         20.04
Max Temp                     64.4
Humidity                       63
Cloudiness                    100
Wind Speed                   6.93
Rain                            0
Snow                            0
Name: 13, dtype: object

In [60]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key

In [62]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df.to_csv("weather_data/vacation_cities.csv",index=False)
city_data_df = pd.read_csv("weather_data/vacation_cities.csv")
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,Mataura,NZ,2019-11-30 04:37:57,-46.19,168.86,66.69,63,91,4.03,0.0,0.0
1,Kaitangata,NZ,2019-11-30 04:42:06,-46.28,169.85,62.01,76,100,8.99,0.0,0.0
2,Jamestown,AU,2019-11-30 04:37:59,-33.21,138.60,64.54,29,1,16.75,0.0,0.0
3,Mar Del Plata,AR,2019-11-30 04:42:01,-46.43,-67.52,48.67,64,73,20.71,0.0,0.0
4,Bluff,AU,2019-11-30 04:38:01,-23.58,149.07,95.81,18,76,8.01,0.0,0.0

In [63]:
# Get the data types.
city_data_df.dtypes

City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Rain          float64
Snow          float64
dtype: object

In [64]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [65]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4) #[max(0,temp) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

In [71]:
# Ask the customer if they want rain or snow
min_rain = input("Do you want it to be raining? (yes/no) ")
min_snow = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [ ]:
# Filter the dataset to find the cities that fit the criteria.
#preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
#preferred_cities_df.head(10)

In [80]:
#preferred_cities_df = No rain, No snow
if min_rain == "no" and min_snow == "no":
    # Filter the dataset to find the cities that fit the criteria.
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)& 
                                       (city_data_df["Rain"] == 0) & 
                                       (city_data_df["Snow"] == 0)]
preferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,Mataura,NZ,2019-11-30 04:37:57,-46.19,168.86,66.69,63,91,4.03,0.0,0.0
5,Kathu,ZA,2019-11-30 04:45:44,-27.70,23.05,86.23,15,0,23.82,0.0,0.0
6,Ixtapa,MX,2019-11-30 04:37:55,20.71,-105.21,77.00,88,5,3.89,0.0,0.0
8,Vaini,IN,2019-11-30 04:37:54,15.34,74.49,73.40,78,20,9.17,0.0,0.0
14,Busselton,AU,2019-11-30 04:38:08,-33.64,115.35,79.00,18,0,3.24,0.0,0.0
15,Mecca,SA,2019-11-30 04:45:19,21.43,39.83,77.99,57,22,0.49,0.0,0.0
16,Buchanan,LR,2019-11-30 04:45:47,5.88,-10.05,74.43,95,2,2.53,0.0,0.0
20,Rikitea,PF,2019-11-30 04:38:00,-23.12,-134.97,78.22,79,91,6.67,0.0,0.0
21,Butaritari,KI,2019-11-30 04:38:10,3.07,172.79,84.20,69,0,6.85,0.0,0.0
28,Puerto Ayora,EC,2019-11-30 04:38:09,-0.74,-90.35,71.01,88,62,7.92,0.0,0.0

In [73]:
# Filter the dataset to find the cities that fit the criteria.
YESRAINNOSNOWpreferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)& 
                                       (city_data_df["Rain"] > 0) & 
                                       (city_data_df["Snow"] == 0)]
YESRAINNOSNOWpreferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
18,Labuhan,ID,2019-11-30 04:45:47,-2.54,115.51,87.82,70,100,3.78,2.12,0.0
22,Quang Ngai,VN,2019-11-30 04:45:48,15.12,108.80,78.21,78,68,13.82,0.94,0.0
23,Kavieng,PG,2019-11-30 04:45:48,-2.57,150.80,84.02,70,38,3.06,0.19,0.0
39,Dingle,PH,2019-11-30 04:45:52,11.00,122.67,80.58,73,96,16.08,0.12,0.0
42,Nabire,ID,2019-11-30 04:45:52,-3.36,135.50,85.08,73,100,2.06,3.00,0.0
46,Chuy,UY,2019-11-30 04:45:53,-33.69,-53.46,68.41,82,46,11.14,0.19,0.0
52,Airai,TL,2019-11-30 04:38:11,-8.93,125.41,85.91,40,19,7.45,0.38,0.0
57,La Rioja,AR,2019-11-30 04:45:55,-29.41,-66.86,65.62,71,0,6.15,1.69,0.0
66,Santiago Del Estero,AR,2019-11-30 04:41:00,-27.80,-64.26,78.08,65,49,6.73,1.75,0.0
75,Ponta Do Sol,BR,2019-11-30 04:46:00,-20.63,-46.00,65.44,97,100,3.02,0.50,0.0

In [75]:
# Filter the dataset to find the cities that fit the criteria.
NORAINYESSNOWpreferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)& 
                                       (city_data_df["Rain"] == 0) & 
                                       (city_data_df["Snow"] > 0)]
NORAINYESSNOWpreferred_cities_df.head(50)

Empty DataFrame
Columns: [City, Country, Date, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Rain, Snow]
Index: []

In [76]:
# Filter the dataset to find the cities that fit the criteria.
YESRAINYESSNOWpreferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)& 
                                       (city_data_df["Rain"] > 0) & 
                                       (city_data_df["Snow"] == 0)]
YESRAINYESSNOWpreferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
18,Labuhan,ID,2019-11-30 04:45:47,-2.54,115.51,87.82,70,100,3.78,2.12,0.0
22,Quang Ngai,VN,2019-11-30 04:45:48,15.12,108.80,78.21,78,68,13.82,0.94,0.0
23,Kavieng,PG,2019-11-30 04:45:48,-2.57,150.80,84.02,70,38,3.06,0.19,0.0
39,Dingle,PH,2019-11-30 04:45:52,11.00,122.67,80.58,73,96,16.08,0.12,0.0
42,Nabire,ID,2019-11-30 04:45:52,-3.36,135.50,85.08,73,100,2.06,3.00,0.0
46,Chuy,UY,2019-11-30 04:45:53,-33.69,-53.46,68.41,82,46,11.14,0.19,0.0
52,Airai,TL,2019-11-30 04:38:11,-8.93,125.41,85.91,40,19,7.45,0.38,0.0
57,La Rioja,AR,2019-11-30 04:45:55,-29.41,-66.86,65.62,71,0,6.15,1.69,0.0
66,Santiago Del Estero,AR,2019-11-30 04:41:00,-27.80,-64.26,78.08,65,49,6.73,1.75,0.0
75,Ponta Do Sol,BR,2019-11-30 04:46:00,-20.63,-46.00,65.44,97,100,3.02,0.50,0.0

In [81]:
preferred_cities_df.count()

City          32
Country       31
Date          32
Lat           32
Lng           32
Max Temp      32
Humidity      32
Cloudiness    32
Wind Speed    32
Rain          32
Snow          32
dtype: int64

In [82]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp    Lat     Lng Hotel Name
0           Mataura      NZ     66.69 -46.19  168.86
5             Kathu      ZA     86.23 -27.70   23.05
6            Ixtapa      MX     77.00  20.71 -105.21
8             Vaini      IN     73.40  15.34   74.49
14        Busselton      AU     79.00 -33.64  115.35
15            Mecca      SA     77.99  21.43   39.83
16         Buchanan      LR     74.43   5.88  -10.05
20          Rikitea      PF     78.22 -23.12 -134.97
21       Butaritari      KI     84.20   3.07  172.79
28     Puerto Ayora      EC     71.01  -0.74  -90.35
31        Gbadolite      CD     73.98   4.28   21.00
34           Beloha      MG     83.71 -25.17   45.06
36       Hambantota      LK     80.60   6.12   81.12
43        Mahebourg      MU     79.00 -20.41   57.70
47          Sumenep      ID     88.25  -7.02  113.87
48       Codrington      AU     93.20 -28.95  153.24
53          Gobabis     NaN     79.47 -22.45   18.97
54    Alta Floresta      BR     69.76  -9.87  -56.08
56           Atuona      PF     79.59  -9.80 -139.03
58              Edd      ER     86.36  13.93   41.69
59         Bougouni      ML     68.86  11.42   -7.49
60        Ulladulla      AU     75.20 -35.36  150.48
62        Hithadhoo      MV     80.89  -0.60   73.08
64          Bulungu      CD     75.42  -4.54   18.60
65         Takoradi      GH     80.80   4.89   -1.75
68       Georgetown      GY     75.20   6.80  -58.16
69       Rio Muerto      MX     66.15  27.42 -110.23
74            Goure      NE     75.00  13.98   10.27
76  Bambous Virieux      MU     79.00 -20.34   57.76
79          Xai-Xai      MZ     83.23 -25.04   33.64
81          Kendari      ID     91.44  -3.99  122.52
88            Luwuk      ID     83.66  -0.95  122.79

In [87]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key# Set parameters to search for a hotel.

params = {
    "radius": 20000,
    "type": "lodging",
    "key": g_key
}

In [88]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [85]:
hotels

{'html_attributions': [],
 'next_page_token': 'CqQCHgEAAF_kGSgGCTlu5hoIaPpXlDsl62452HVcDavriEuxFFD-t60C5HBDtNgPaKTQtXcxpjiy9CDSoffoq-_Je9Bni7ex69VvlJJKNSDHZpPtx3W9dlpLDdgBADjkiANL4v29jAIUZlF2qQTENq1jnpZNJXDHUoDWUWrsNXd9VtdRRD5kpfdjzyWzfQfQwH5MJGR-kF5ZAMe6sxm_61lCBJE_Cey5e3Yr9wR_2yZW608cnY5CgpxrBBYn-yKKhZQLVjODDe7x_cg3uEEi9h4NqBSz2zzF8L-dLkpvUIh6TKSZ2T7Zj3qzJIFsAbYHqdO90-P2nk7kisOaaWZoQ2A9gyxkl-ErBr3wL0AvSRsx6RCvAWfYOblLA045lZ8Nuon58s6b9xIQQg12uUoCYddFAOkFJJQjqxoU3Aw0m9a7dW7IUCeW1XP5WM_7kiA',
 'results': [{'geometry': {'location': {'lat': 48.8581126, 'lng': 2.3529277},
    'viewport': {'northeast': {'lat': 48.8594402302915,
      'lng': 2.354348530291502},
     'southwest': {'lat': 48.8567422697085, 'lng': 2.351650569708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '7fa47cb61d7345cecc3b802d0e04fcff2b3d5ecb',
   'name': 'Hôtel Duo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107554201425443337224/photos">Hôtel Duo</a>'],
     'photo_reference': 'CmRaAAAAr_dhRkcEHMmBcjV_nsoZvlvEFnr8SSvi1j17m30rut0L3hPYy03-aVWKQi_MZpdhIK147teEDI3zSjcfxHYQgjD4GVaevRs_e9rXd8S0mtgbUE5a6sJHKZQMARuYiO-5EhCnlchh20TICiGTCIn_6LvYGhRq2N6-oT6IUL_0xBmtQSpmv7uadw',
     'width': 5760}],
   'place_id': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'plus_code': {'compound_code': 'V953+65 Paris, France',
    'global_code': '8FW4V953+65'},
   'rating': 4.2,
   'reference': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'spa',
    'lodging',
    'bar',
    'gym',
    'health',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 246,
   'vicinity': '11 Rue du Temple, Paris'},
  {'geometry': {'location': {'lat': 48.8582616, 'lng': 2.3463818},
    'viewport': {'northeast': {'lat': 48.85954948029151,
      'lng': 2.347686180291502},
     'southwest': {'lat': 48.85685151970851, 'lng': 2.344988219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '4d2e3fa9d12bf9feb685e628eaa4da9b180956a9',
   'name': 'Hôtel Britannique - Paris Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1426,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108984000175492464929/photos">Hôtel Britannique - Paris Louvre</a>'],
     'photo_reference': 'CmRaAAAAyL0qtWasaVFNfiuPvatW-niOMpugeLdX_KSfsvRvXdsp0PEhAiwXpVAvTmxH6t10SIJYbreG2LNW4NQd4-sKAf7MGjb6sfBzFZnwPfqQXolLb-FDPOVxsmzqXBc7qff6EhDTWCZCaUU_qx6g37TcWYnTGhRvRpGpwOHtUrfzLFSP2e50T2-Ajw',
     'width': 1476}],
   'place_id': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'plus_code': {'compound_code': 'V85W+8H Paris, France',
    'global_code': '8FW4V85W+8H'},
   'rating': 4.5,
   'reference': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 188,
   'vicinity': '20 Avenue Victoria, Paris'},
  {'geometry': {'location': {'lat': 48.8606342, 'lng': 2.3468978},
    'viewport': {'northeast': {'lat': 48.8617524802915,
      'lng': 2.348040180291502},
     'southwest': {'lat': 48.8590545197085, 'lng': 2.345342219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '9f68a76d7e95a1f94ca131a0511bfe5ffa306818',
   'name': 'Citadines Les Halles Paris (Apart Hotel Paris)',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2160,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102964520166617398519/photos">Max Wong</a>'],
     'photo_reference': 'CmRaAAAAHLfRhlBuiPxaZmk636I18uum-_3zazPCT2oApp9OVo5Fv7SjZi5fXTDO-lmcLm2REqEiBn-kovPz99AWf5yU7WI4_bpUAkyzBoOewU8Gb6iwHF7ZrGpAqwe3S5CrakfCEhCz9vzn4m5xulUF_YwOUjqVGhSf5DL3usAz8yMvoX7S8WA0DUTkoQ',
     'width': 3840}],
   'place_id': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'plus_code': {'compound_code': 'V86W+7Q Paris, France',
    'global_code': '8FW4V86W+7Q'},
   'rating': 4.1,
   'reference': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 701,
   'vicinity': '4 Rue des Innocents, Paris'},
  {'geometry': {'location': {'lat': 48.8607299, 'lng': 2.3465326},
    'viewport': {'northeast': {'lat': 48.86199603029149,
      'lng': 2.347707030291502},
     'southwest': {'lat': 48.85929806970849, 'lng': 2.345009069708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'd0fde78ef5688caa69780be22af2ec83d4adfd32',
   'name': 'Hotel Novotel Paris les Halles',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111815616573299411056/photos">Hotel Novotel Paris les Halles</a>'],
     'photo_reference': 'CmRaAAAA_bkPZbKx2Y-1RRwTqpIcUdb0VxiT8Y4tR-REYXHJ2nhNtVrG7rNqkM8BDpEnH7VUCtgUSOffO_ZER02zzb274DfAXVUZv5kAhrIjTQVbbA5__sIbWuNWZ5ukLqeKzFqvEhBVjHhfSbnL31HIXCjPgTEPGhRfaV22xPM3QFAQGj0T7Skvf84jFA',
     'width': 3000}],
   'place_id': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'plus_code': {'compound_code': 'V86W+7J Paris, France',
    'global_code': '8FW4V86W+7J'},
   'rating': 4.4,
   'reference': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1783,
   'vicinity': '8 Place Marguerite de Navarre, Paris'},
  {'geometry': {'location': {'lat': 48.86034799999999, 'lng': 2.344054},
    'viewport': {'northeast': {'lat': 48.8616755802915,
      'lng': 2.345494180291502},
     'southwest': {'lat': 48.8589776197085, 'lng': 2.342796219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '071875f44126b9c8284f24b598fdfce0ef2b15a8',
   'name': 'Best Western Premier Ducs de Bourgogne',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 5616,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101411638353598558320/photos">Best Western Premier Ducs de Bourgogne</a>'],
     'photo_reference': 'CmRaAAAA1aHhVnbBGUMo0OX9_vOQdVu4Z6i-VDZBewUANC2H9x7uc26WwtctXiCugjHjrwSLRvUqkGGvfxD5pHAtIH8cClVaJjz6A4VwOkBb1Fir-wjwz8SQBZkm0vncRcLO39R9EhAbdHrSzJbNJukuNv53SRVvGhQB0jVbkety3LnwsDa-BZ-e-kBX-w',
     'width': 3744}],
   'place_id': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'plus_code': {'compound_code': 'V86V+4J Paris, France',
    'global_code': '8FW4V86V+4J'},
   'rating': 4.5,
   'reference': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 245,
   'vicinity': '19 Rue du Pont Neuf, Paris'},
  {'geometry': {'location': {'lat': 48.8555091, 'lng': 2.3408736},
    'viewport': {'northeast': {'lat': 48.8569042302915,
      'lng': 2.342317580291502},
     'southwest': {'lat': 48.8542062697085, 'lng': 2.339619619708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'da46237a58939495edf652bdf976bd44df477f05',
   'name': 'Citadines Saint-Germain-des-Prés Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116649065792056265685/photos">Gilsun LEE</a>'],
     'photo_reference': 'CmRaAAAAjU9r0BVAV8QNz8aVhUfe1WgRLOGEomBySv_4HBo5Iq5FD-OAsdAviIMEZIh7qHUHRdzuC12KdZaE6yA3HULNViqIlF-7vKfqUjJsA9lg6JgYvtvFutd-f_yPxrcpUJyUEhDAUP5-PWFYdnWKTl3h0bBrGhQkE7-kZFHITrWX7M3hcTWFU9tDmw',
     'width': 4032}],
   'place_id': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'plus_code': {'compound_code': 'V84R+68 Paris, France',
    'global_code': '8FW4V84R+68'},
   'rating': 4.3,
   'reference': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 597,
   'vicinity': '53 ter Quai des Grands Augustins, Paris'},
  {'geometry': {'location': {'lat': 48.86052189999999,
     'lng': 2.368023899999999},
    'viewport': {'northeast': {'lat': 48.8618644302915,
      'lng': 2.369319030291502},
     'southwest': {'lat': 48.8591664697085, 'lng': 2.366621069708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'e4631da771afae8308d2ec687855dd6de69d80e5',
   'name': 'Les Jardins du Marais',
   'photos': [{'height': 715,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108479076312462330074/photos">Hotels World Online</a>'],
     'photo_reference': 'CmRaAAAAYIvQ_gKRJ4th-IDYmh9B9sqcSRlPt3IYzVVOZ-GXKXr699nQ6F25hHwAh5rLjPE5dC8Rexh8qVt2QcgmhPLcJhAdKu71hVLfEfE1yEsTXZITZhsudakfP9B7K0RUD1uNEhB47JO_xRIq10erArxUA2wwGhTTXxRphw4gT3_qFKslpaqbNtf_Jw',
     'width': 1024}],
   'place_id': 'ChIJ4cohBv5t5kcR4QXyfBTCrBs',
   'plus_code': {'compound_code': 'V969+66 Paris, France',
    'global_code': '8FW4V969+66'},
   'rating': 4.1,
   'reference': 'ChIJ4cohBv5t5kcR4QXyfBTCrBs',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 937,
   'vicinity': '74 Rue Amelot, Paris'},
  {'geometry': {'location': {'lat': 48.86634659999999, 'lng': 2.36064},
    'viewport': {'northeast': {'lat': 48.8677623302915,
      'lng': 2.361952180291502},
     'southwest': {'lat': 48.86506436970851, 'lng': 2.359254219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '87ab2d184ee12f6be846d60470ed800629c99521',
   'name': 'Paris France Hôtel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2673,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102332962500946068613/photos">Paris France Hôtel</a>'],
     'photo_reference': 'CmRaAAAAzqqxxE1z-3IBkxtRgr0UVuqZFgbMYCNDj5pXcKAt_93KkGQQue-t5n_rvDmyy406ZFype6Of5eZTxVasO30NWGfL7i_4v6ZzrnndrcuABMbJIgxmyjOD_bA2XEbIRrP8EhA9qDg2flrvlT_tInp1WXsYGhSTAJqGoSCH6ItSSIAUJsIy50XcDw',
     'width': 3463}],
   'place_id': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'plus_code': {'compound_code': 'V986+G7 Paris, France',
    'global_code': '8FW4V986+G7'},
   'rating': 4.2,
   'reference': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 334,
   'vicinity': '72 Rue de Turbigo, Paris'},
  {'geometry': {'location': {'lat': 48.8549629, 'lng': 2.3331998},
    'viewport': {'northeast': {'lat': 48.8563231802915,
      'lng': 2.334450380291502},
     'southwest': {'lat': 48.8536252197085, 'lng': 2.331752419708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'd466793620469a720b439cf769a6f4c28217ef88',
   'name': 'Hôtel Bel Ami',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4377,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111426311500153571368/photos">Hôtel Bel Ami</a>'],
     'photo_reference': 'CmRaAAAA8amf2s3VXY2jmnnPnMoSW9LQFnXxui85LU0AyLbW9D4xnEQg11pDyBp7RQDZtbEM-gjzYwUBlaCOg8hcVQKitqbylPytjz022OEQOOgykyeuH8qpYWlAJTkLc1Ei5w6xEhCGFFXr51VMshjFnPzIQSLEGhQrcaCfTO3Axp3DN5ShJQX3-dVnJA',
     'width': 6566}],
   'place_id': 'ChIJj0jPiddx5kcRnYv-p3-vfCA',
   'plus_code': {'compound_code': 'V83M+X7 Paris, France',
    'global_code': '8FW4V83M+X7'},
   'rating': 4.6,
   'reference': 'ChIJj0jPiddx5kcRnYv-p3-vfCA',
   'scope': 'GOOGLE',
   'types': ['spa',
    'place_of_worship',
    'lodging',
    'bar',
    'university',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 429,
   'vicinity': '7 Rue Saint-Benoît, Paris'},
  {'geometry': {'location': {'lat': 48.86386539999999, 'lng': 2.3325488},
    'viewport': {'northeast': {'lat': 48.8650759802915,
      'lng': 2.333775730291502},
     'southwest': {'lat': 48.8623780197085, 'lng': 2.331077769708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '20dd8ae8d6ad9bbbe4ea9c6caf623fa071be187f',
   'name': 'Hotel Regina Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2828,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109066439891801774697/photos">Hotel Regina Louvre</a>'],
     'photo_reference': 'CmRaAAAAHGGC8zkQchaAvpLzWFFdXZ4wPSsk1pyXD09OUJxVS9VrKnMO9M5zoF2YZnFdFjEKkHhP7m3GPg0h7EKqY5scpaUF09VwRXY3Fe0EIfJfddQBFaRtqOwd2VYePytm4WBLEhDfCkMiH9CoYIUUSw0u3sAoGhSdrWlWaFbnV1BVgFWP7aQosya1XA',
     'width': 4242}],
   'place_id': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'plus_code': {'compound_code': 'V87M+G2 Paris, France',
    'global_code': '8FW4V87M+G2'},
   'rating': 4.4,
   'reference': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 443,
   'vicinity': '2 Place des Pyramides, Paris'},
  {'geometry': {'location': {'lat': 48.84788839999999, 'lng': 2.3708912},
    'viewport': {'northeast': {'lat': 48.84917963029149,
      'lng': 2.372315480291502},
     'southwest': {'lat': 48.84648166970849, 'lng': 2.369617519708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '6662d8cf04aa119625278786b9a8b5042c30409c',
   'name': 'Hotel ibis Paris Gare de Lyon Ledru Rollin 12ème',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 4128,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101379513086988207219/photos">T Lovely</a>'],
     'photo_reference': 'CmRaAAAARb36OiugTV1aGzbWJT2rwN02R-cCWrHNrwSdVAcIt8IUsFYwQznL4A52xpqC4ge22wx9tepTAIAbRnC3yvjNkoKVRAwhSpkBUuzXU1La8MQ1whdw8sfgl35enq-GRYQFEhBZqW9_wpMBeflBmDXfGbaYGhT__xYUl8Jjfi5hXLe0DrxsY13zUw',
     'width': 2322}],
   'place_id': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'plus_code': {'compound_code': 'R9XC+59 Paris, France',
    'global_code': '8FW4R9XC+59'},
   'rating': 4,
   'reference': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 651,
   'vicinity': '41/43 Avenue Ledru-Rollin, Paris'},
  {'geometry': {'location': {'lat': 48.8475668, 'lng': 2.3718454},
    'viewport': {'northeast': {'lat': 48.8488970802915,
      'lng': 2.373106280291502},
     'southwest': {'lat': 48.8461991197085, 'lng': 2.370408319708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'dd8abb1bc4b1337fc3bd3f26e92d36c9a31de2fd',
   'name': 'Hôtel De France Gare de Lyon Bastille',
   'photos': [{'height': 787,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117462031751048846575/photos">Hôtel De France Gare de Lyon Bastille</a>'],
     'photo_reference': 'CmRaAAAAOKWZPE1Ywi8iXBEGmBfXrbeUkTu9Hnc2UZuXdVlOoNXzm7LDMwSzbOXl42G6oVkchudhI7pN9i7N4X3fEj1DZSi8Rr50WVtuzUxrvz9BxI0gaYicN_rWAoBiUR4cOQprEhCht-m3WGNXcskWn6XhDFrkGhSot5EzHJwo78SEqWrc7m0PwuvS0w',
     'width': 1181}],
   'place_id': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'plus_code': {'compound_code': 'R9XC+2P Paris, France',
    'global_code': '8FW4R9XC+2P'},
   'rating': 3.3,
   'reference': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 329,
   'vicinity': '12 Rue de Lyon, Paris'},
  {'geometry': {'location': {'lat': 48.8717386, 'lng': 2.3447052},
    'viewport': {'northeast': {'lat': 48.8731394302915,
      'lng': 2.346067130291502},
     'southwest': {'lat': 48.8704414697085, 'lng': 2.343369169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '78d0f620a6cdf990371302f25505f3916839f53a',
   'name': 'Hôtel Corona Opéra',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 5792,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101286814961649198772/photos">Hôtel Corona Opéra ***</a>'],
     'photo_reference': 'CmRZAAAAvrKA8XbyiO8lZ3Z_MwsIFFqg7v_zk-YvqMZA8IpH3L4LMvfeSwCFXAGiiKUfjTAWUjjjh0BU0AMOXjhK0v--D6mlz1NRSeOOimkjyHJZH1FC8Ut3tvbjaAusXVms2bfvEhDf8zk5NtX45mtnwK7XzD2JGhSNtguOGYI-DXOFmrmPGO_0uWUU3w',
     'width': 8688}],
   'place_id': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'plus_code': {'compound_code': 'V8CV+MV Paris, France',
    'global_code': '8FW4V8CV+MV'},
   'rating': 4,
   'reference': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 259,
   'vicinity': '8 Cité Bergère, Paris'},
  {'geometry': {'location': {'lat': 48.8423474, 'lng': 2.3632229},
    'viewport': {'northeast': {'lat': 48.8436522302915,
      'lng': 2.364706330291502},
     'southwest': {'lat': 48.8409542697085, 'lng': 2.362008369708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'c2c8e3f55bda0fd2bec95cd85db83c756bfebe2c',
   'name': 'Hôtel Libertel Austerlitz Jardin des Plantes',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 683,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113748802076686483057/photos">Hôtel Libertel Austerlitz Jardin des Plantes</a>'],
     'photo_reference': 'CmRaAAAA1ikx80ktnbVq0TQHVtoF-HEx6fqjpmKbNxNtXi3-YdpJB2YoPzRx-XXpcJBuHu4nmS4xGdG3EppdouBDAC96p3qgXJ57sPU1kkxwS8O1kjUW_hov5GakvpB63DAUePPVEhBcfcmTDVVSq6pkBoJHPtIgGhTEgu_bFajT1gcxURs11koZnUjzlg',
     'width': 1024}],
   'place_id': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'plus_code': {'compound_code': 'R9R7+W7 Paris, France',
    'global_code': '8FW4R9R7+W7'},
   'rating': 3.9,
   'reference': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 363,
   'vicinity': "12 Boulevard de l'Hôpital, Paris"},
  {'geometry': {'location': {'lat': 48.86427329999999, 'lng': 2.330789},
    'viewport': {'northeast': {'lat': 48.8655668802915,
      'lng': 2.332150480291502},
     'southwest': {'lat': 48.8628689197085, 'lng': 2.329452519708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '50797fba20cc1e735c57820607b18b04abf162b9',
   'name': 'Saint James Albany Paris Hôtel Spa',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 650,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108570400659068256718/photos">Saint James Albany Paris Hôtel Spa</a>'],
     'photo_reference': 'CmRaAAAAu2mNREwRvjQ12ipFgwVLbCkuLZZEsqyg3499Of5a5TpNFZ2Du2SttoDisAr97D6U_5NvX2CrJaWiZ_hnpgvr9Zg1RnEQ9I-jcbQ2vCTEWx32CzS6B6EIgH87Tt3Zeso7EhDtGd8Z96rbKCdYuNnAwtmRGhRfy_90Ys-ggfkEFmsEbxNv_g7mmw',
     'width': 802}],
   'place_id': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'plus_code': {'compound_code': 'V87J+P8 Paris, France',
    'global_code': '8FW4V87J+P8'},
   'rating': 4,
   'reference': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'scope': 'GOOGLE',
   'types': ['spa',
    'lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 981,
   'vicinity': '202 Rue de Rivoli, Paris'},
  {'geometry': {'location': {'lat': 48.87108000000001, 'lng': 2.3390685},
    'viewport': {'northeast': {'lat': 48.8724059302915,
      'lng': 2.340399130291502},
     'southwest': {'lat': 48.8697079697085, 'lng': 2.337701169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'ef15575a5c2adf57431313a0af490a78350630a5',
   'name': 'Hôtel Icône',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1066,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108137830440312077288/photos">Hôtel Icône</a>'],
     'photo_reference': 'CmRaAAAA0vhgv-JuQ11EIkchsL1RgkLj9RU0JAJyUb2YcDhm0zozjVFBUZ_1XsswmqUUeXWJ3K6asgiUkBxEW8SsQZdgPLhhemhjpOnL_CBUcM69Pgc2mUulfTMhrpk5cGOdB7UoEhBnRIxVW-OLxq6WGjWAUmH1GhS1Sexqz4lN1EJ90uAhWQ4ECv34HQ',
     'width': 1600}],
   'place_id': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'plus_code': {'compound_code': 'V8CQ+CJ Paris, France',
    'global_code': '8FW4V8CQ+CJ'},

In [89]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [91]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mataura,NZ,66.69,-46.19,168.86,Ellie's Villa
5,Kathu,ZA,86.23,-27.70,23.05,Carlandre
6,Ixtapa,MX,77.00,20.71,-105.21,Container Inn Puerto Vallarta
8,Vaini,IN,73.40,15.34,74.49,Dandeli Lake County
14,Busselton,AU,79.00,-33.64,115.35,Observatory Guest House
15,Mecca,SA,77.99,21.43,39.83,Hotel Fairmont Makkah Clock Royal Tower
16,Buchanan,LR,74.43,5.88,-10.05,Kamaneahn Hotel Inc
20,Rikitea,PF,78.22,-23.12,-134.97,Pension Maro'i
21,Butaritari,KI,84.20,3.07,172.79,Isles Sunset Lodge
28,Puerto Ayora,EC,71.01,-0.74,-90.35,Finch Bay Galapagos Hotel
31,Gbadolite,CD,73.98,4.28,21.00,Espace Point Carré Zenic
34,Beloha,MG,83.71,-25.17,45.06,
36,Hambantota,LK,80.60,6.12,81.12,Bungalow 63
43,Mahebourg,MU,79.00,-20.41,57.70,Shandrani Beachcomber Resort & Spa
47,Sumenep,ID,88.25,-7.02,113.87,Family Nur Hotel
48,Codrington,AU,93.20,-28.95,153.24,
53,Gobabis,NaN,79.47,-22.45,18.97,Goba Lodge
54,Alta Floresta,BR,69.76,-9.87,-56.08,Floresta Amazonica Hotel
56,Atuona,PF,79.59,-9.80,-139.03,Villa Enata
58,Edd,ER,86.36,13.93,41.69,
59,Bougouni,ML,68.86,11.42,-7.49,Hôtel Songhoi
60,Ulladulla,AU,75.20,-35.36,150.48,Sandpiper Motel
62,Hithadhoo,MV,80.89,-0.60,73.08,Scoop Guest House
64,Bulungu,CD,75.42,-4.54,18.60,
65,Takoradi,GH,80.80,4.89,-1.75,Raybow International Hotel
68,Georgetown,GY,75.20,6.80,-58.16,Kanhai's Center
69,Rio Muerto,MX,66.15,27.42,-110.23,
74,Goure,NE,75.00,13.98,10.27,
76,Bambous Virieux,MU,79.00,-20.34,57.76,Casa Tia Villa
79,Xai-Xai,MZ,83.23,-25.04,33.64,Pensao Africana
81,Kendari,ID,91.44,-3.99,122.52,Hotel Wixel
88,Luwuk,ID,83.66,-0.95,122.79,Hotel Santika Luwuk

In [90]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [92]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [94]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [104]:
# Store the Hotel CSV you saved created in part one into a DataFrame.
hotel_df.to_csv("weather_data/WeatherPy_vacation.csv",index=False)
hotel_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
hotel_df.head()

        City Country  Max Temp    Lat     Lng                     Hotel Name
0    Mataura      NZ     66.69 -46.19  168.86                  Ellie's Villa
1      Kathu      ZA     86.23 -27.70   23.05                      Carlandre
2     Ixtapa      MX     77.00  20.71 -105.21  Container Inn Puerto Vallarta
3      Vaini      IN     73.40  15.34   74.49            Dandeli Lake County
4  Busselton      AU     79.00 -33.64  115.35        Observatory Guest House